ForumApp/ForumApp/Connected Services/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ForumService" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="RegisterUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ForumService" minOccurs="0" name="user" nillable="true" type="q1:OneUserX" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogInResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LogInResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOneUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOneUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ForumService" minOccurs="0" name="GetOneUserResult" nillable="true" type="q2:OneUserX" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditOneUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ForumService" minOccurs="0" name="user" nillable="true" type="q3:OneUserX" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditOneUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditOneUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQweryList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQweryListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ForumService" minOccurs="0" name="GetQweryListResult" nillable="true" type="q4:ArrayOfQweryX" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQweryWithAnsvers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QweryId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQweryWithAnsversResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ForumService" minOccurs="0" name="GetQweryWithAnsversResult" nillable="true" type="q5:AllMessageAndQwery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQweryWithAnsversV2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QweryId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQweryWithAnsversV2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ForumService" minOccurs="0" name="GetQweryWithAnsversV2Result" nillable="true" type="q6:AllMessageAndQweryAndAnsvers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="QweryId" type="xs:int" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendMessageResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoryList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoryListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetCategoryListResult" nillable="true" type="q7:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQueryById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueryId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQueryByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ForumService" minOccurs="0" name="GetQueryByIdResult" nillable="true" type="q8:QweryX" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserRatingUp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserRatingUpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserRatingUpResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserRatingDown">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserRatingDownResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserRatingDownResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QweryRatingUp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueryId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QweryRatingUpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QweryRatingUpResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QweryRatingDown">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueryId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QweryRatingDownResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QweryRatingDownResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AnsverRatingUp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AnsverId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AnsverRatingUpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AnsverRatingUpResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AnsverRatingDown">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AnsverId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AnsverRatingDownResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AnsverRatingDownResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFindQweryList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="findString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFindQweryListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ForumService" minOccurs="0" name="GetFindQweryListResult" nillable="true" type="q9:ArrayOfQweryX" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoryQweryList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="category" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoryQweryListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ForumService" minOccurs="0" name="GetCategoryQweryListResult" nillable="true" type="q10:ArrayOfQweryX" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendQwery">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ForumService" minOccurs="0" name="qwery" nillable="true" type="q11:QweryX" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendQweryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendQweryResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendAnsver">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ForumService" minOccurs="0" name="ansver" nillable="true" type="q12:AnsverX" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendAnsverResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendAnsverResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditQwery">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/ForumService" minOccurs="0" name="qwery" nillable="true" type="q13:QweryX" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditQweryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditQweryResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditAnsver">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/ForumService" minOccurs="0" name="ansver" nillable="true" type="q14:AnsverX" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditAnsverResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditAnsverResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendAnsverAnsver">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ansverId" type="xs:int" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="text" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendAnsverAnsverResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendAnsverAnsverResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditAnsverAnsver">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/ForumService" minOccurs="0" name="ansveransver" nillable="true" type="q15:AnsverAnsverX" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditAnsverAnsverResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditAnsverAnsverResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnsverById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AnswerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnsverByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/ForumService" minOccurs="0" name="GetAnsverByIdResult" nillable="true" type="q16:AnsverX" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>